<nav id="menu">
    <ul class="links">
        <li><a href="index.php">Home</a></li>
        <li><a href="quienes_somos.php">Quienes somos</a></li>
        <li><a href="contacto.php">Contacto</a></li>
        <li><a href="generic.html">Generic</a></li>
        <li><a href="elements.html">Elements</a></li>
        <li><a href="servicios.php">Servicios</a></li>
    </ul>
</nav>